@import "./vars";
.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  &__container {
    background-color: $theme-color-dark;
    padding: 40px;
    width: 75%;
    height: 75%;
    border-radius: 5px;
  }
  &__row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 2px;
  }
  &__cell {
    margin: 2px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    &--0 {
      opacity: 0.3;
      background-color: $dead-cell-color;
    }
    &--1 {
      animation: fade-in 0.5s ease-in-out;
      background-color: $sad-cell-color;
    }
    &--2 {
      animation: fade-in 0.5s ease-in-out;
      background-color: $happy-cell-color;
    }
  }
}

@media only screen and (max-width: 720px) {
  .container {
    width: 90vw;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.watermark {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: right;
    margin-top: 4px;
    color: $theme-color-very-light;
}