@import "./vars";

.modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  width: 245px;
  height: 145px;
  position: absolute;
  background-color: $theme-color-very-light;
  border: 5px solid $theme-color-light;
  color: $theme-color-dark;
  border-radius: 5px;
  z-index: 999;
  animation: slide-down 1s ease-in-out;
  margin-bottom: 20px;
  &__instructions {
      font-size: 10px;
  }
}

@keyframes slide-down {
  0% {
    transform: translate3d(0, -1000px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
